/* Today font */
@font-face {
	font-family: 'Today';
	src: url('../fonts/todaysanshef-light-webfont.eot');
	src: url('../fonts/todaysanshef-light-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/todaysanshef-light-webfont.woff') format('woff'),  url('../fonts/todaysanshef-light-webfont.ttf') format('truetype'),  url('../fonts/todaysanshef-light-webfont.svg#todaysanshef-lightregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* End today font */

body {
	padding-top: 100px;
	background-color: #eeeeee;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: 400;
	color: #64686d;
	line-height: 26px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: 'Today', sans-serif;
	color: #272727;
}
a {
	color: #329AB7;
	text-decoration: none;
	-webkit-transition: color 400ms, background-color 400ms;
	-moz-transition: color 400ms, background-color 400ms;
	-o-transition: color 400ms, background-color 400ms;
	transition: color 400ms, background-color 400ms;
}
a:hover, a:focus {
	color: #329AB7;
}
hr {
	border-top: 2px #9E9791;
	border-style: dotted none none none;
	color: none;
	background-color: none;
	height: 1px;
	width: 100%;
	margin: 10px 0;
}
.gradiant {
	background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
	background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
	background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
	background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
	background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
	background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
	margin-bottom: 50px;
}
.section-header .section-title {
	font-size: 44px;
	color: #443135;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 20px;
	margin: 0 0 20px;
}
.section-header .section-title:before {
	content: "";
	position: absolute;
	width: 140px;
	bottom: 0;
	left: 50%;
	margin-left: -70px;
	height: 1px;
	border-top: 2px #9E9791;
	border-style: dotted none none none;
	color: none;
	background-color: none;
}
.btn {
	border-width: 0;
}
.btn.btn-primary {
	background: #443135;
	text-decoration: none;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
	background: #7a686c;
}
.column-title {
	margin-top: 0;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
	position: relative;
}
.column-title:after {
	content: " ";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 40%;
	border-bottom: 1px solid #e88554;
}
ul.nostyle {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}
ul.nostyle i {
	color: #e88554;
}
.scaleIn {
	-webkit-animation-name: scaleIn;
	animation-name: scaleIn;
}
@-webkit-keyframes scaleIn {
 0% {
 opacity: 0;
 -webkit-transform: scale(0);
 transform: scale(0);
}
 100% {
 opacity: 1;
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
@keyframes scaleIn {
 0% {
 opacity: 0;
 -webkit-transform: scale(0);
 -ms-transform: scale(0);
 transform: scale(0);
}
 100% {
 opacity: 1;
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}
/*************************
*******Header******
**************************/
.navbar.navbar-default {
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
	margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
	height: auto;
	padding: 22px 15px 21px;
}
 @media only screen and (min-width: 768px) {
#main-menu.navbar-default {
	background: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}
}
#main-menu.navbar-default .navbar-nav > li > a {
	padding-top: 40px;
	padding-bottom: 40px;
}
#main-menu.navbar-default .navbar-nav > li.active > a,  #main-menu.navbar-default .navbar-nav > li.open > a,  #main-menu.navbar-default .navbar-nav > li:hover > a {
	background: transparent;
	padding-top: 37px;
	border-top: 3px solid #329AB7;
}
#main-menu.navbar-default .dropdown-menu {
	padding: 0 20px;
	min-width: 220px;
	background-color: rgba(26, 28, 40, 0.9);
	border: 0;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	background-clip: inherit;
}
#main-menu.navbar-default .dropdown-menu > li {
	border-left: 3px solid transparent;
	margin-left: -20px;
	padding-left: 17px;
	-webit-transition: border-color 400ms;
	transition: border-color 400ms;
}
#main-menu.navbar-default .dropdown-menu > li > a {
	border-top: 1px solid #404455;
	padding: 15px 0;
	color: #eeeeee;
}
#main-menu.navbar-default .dropdown-menu > li:first-child > a {
	border-top: 0;
}
#main-menu.navbar-default .dropdown-menu > li.active,  #main-menu.navbar-default .dropdown-menu > li.open,  #main-menu.navbar-default .dropdown-menu > li:hover {
	border-left-color: #329AB7;
}
#main-menu.navbar-default .dropdown-menu > li.active > a,  #main-menu.navbar-default .dropdown-menu > li.open > a,  #main-menu.navbar-default .dropdown-menu > li:hover > a {
	color: #329AB7;
	background-color: transparent;
}
#main-menu .topcta {
	border-left: 2px #9E9791;
	border-style: none none none dotted;
	padding: 10px;
}
#main-menu p {
	font-family: 'Today', sans-serif;
	line-height: 1;
}
#main-menu p span {
	font-size: 24px;
	font-weight: 900;
	color: #329AB7;
}
/*************Main Image Section*************/	
@media screen 
and (min-device-width : 320px)  {	
	#main-img .textbox { padding-top: 80px; }
}
#main-img {
	height: 100%;
	background-repeat: no-repeat;
	background-position: 30% 0;
	background-size: cover;
	background-image: url(../images/main-img/bg5.jpg);
}
#main-img .textbox {
	margin-top: 10%;
}
#main-img h2 {
	font-size: 44px;
	line-height: 1;
	text-transform: uppercase;
	color: #fff
}
#main-img p {
	color: #272727;
}
#main-img h3 {
	font-size: 24px;
	line-height: 1;
	text-transform: uppercase;
	color: #c1effc;
}
#main-img p span {
	font-size: 18px;
	font-weight: 900;
	color: #fff;
}
#main-img .price {
	font-family: 'Today', sans-serif;
	font-size: 66px;
	color: #fff;
	margin-top: 15px;
}
#main-img .small {
	font-size: 10px;
	color: #fff;
}
#main-img .destinations {
	text-align: center;
	padding-top: 20px;
}
#main-img .destination1 {
	padding: 13px;
	background: #329AB7;
}
@media screen and (min-width: 480px) {
#main-img .destination1 {
	margin-bottom: 20px; }
}

#main-img .freenight {
	position: absolute;
	top: 50%;
	left: 80%;
	z-index: 999;
}
#main-img .destination2 {
	padding: 13px;
	background: #329AB7;
}
#main-img .destinations .pricedivider {
	border-top: 2px #fff;
	border-style: dotted none none none;
	color: none;
	background-color: none;
	height: 1px;
	width: 100%;
	margin: 20px 0;
}
#main-img ul {
	list-style-type: square;
	padding-left: 13px;
	margin-left: 13px;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
	color: #272727;
}

/*************CTA 1 Section*************/
@media screen and (max-width: 479px) {
#cta {
	margin-top: 170px;
}
}
#cta {
	padding: 50px 0;
	background-color: #eeeeee;
}
#cta h2 {
	margin-top: 0;
}
#cta .btn {
	margin-top: 10px;
}
@media screen and (max-width: 991px) {
#cta .border {
	border-right: hidden !important;
	margin-bottom: 50px;
	text-align: center;
}
}
#cta .border {
	border-style: none dotted none none;
	border-color: #9E9791;
	border-width: 2px;
}
#cta .call {
	font-family: 'Today', sans-serif;
	font-size: 14px;
}
#cta .phone {
	font-family: 'Today', sans-serif;
	font-size: 42px;
	font-weight: 900;
	color: #329AB7;
}
/*************Destination 1 Section*************/
#destination1 {
	padding: 100px 0;
	background-color: #f5f5f5;
}
#destination1 .mapimg1 {
	width: 100%;
	height: 100px;
	background-image: url(../images/destination1/oahu.png);
	background-size: 100px Auto;
	background-position: center;
	background-repeat: no-repeat;
	clear: both;
}
#destination1 .dotdivider {
	border-top: 2px #9E9791;
	border style: dotted none none none;
	color: none;
	background-color: none;
	height: 1px;
	width: 100%;
	margin: 20px 0;
}
#destination1 h4 {
	color: #329AB7;
}
/***Vacation Details Table***/
#destination1 h3 {
	font-size: 24px;
	line-height: 1;
	text-transform: uppercase;
	color: #c1effc;
}
#destination1 p span {
	font-size: 18px;
	font-weight: 900;
	color: #fff;
}
#destination1 .price {
	font-family: 'Today', sans-serif;
	font-size: 66px;
	color: #fff;
	margin-top: 15px;
}
#destination1 .small {
	font-size: 10px;
	color: #fff;
}
#destination1 .bkgrd {
	padding: 10px;
	background: #329AB7;
	text-align: center;
}
#destination1 .pricedivider {
	border-top: 2px #fff;
	border-style: dotted none none none;
	color: none;
	background-color: none;
	height: 1px;
	width: 95%;
	margin: 20px 0;
}
#destination1 ul {
	list-style-type: square;
	padding: 0 13px;
	margin: 0 13px;
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	color: #fff;
}
#destination1 .bookcta {
	color: #fff;
	font-family: 'Today', sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1;
}
#destination1 .phone {
	font-family: 'Today', sans-serif;
	font-size: 36px;
	font-weight: 900;
	color: #fff;
}
#destination1 .btn {
	border-width: 0;
	margin-top: 20px;
}
#google-map1 {
	height:300px;
	border: 2px solid #329AB7;
	border-top: 0;
}
/***END Vacation Details Table***/

#destination1 .media.destination-box .pull-left > i {
	font-size: 30px;
	height: 64px;
	text-align: center;
	width: 40px;
	color: #85cce0;
	position: relative;
}
#destination2 .media.destination-box .pull-left > i {
	font-size: 30px;
	height: 64px;
	text-align: center;
	width: 40px;
	color: #85cce0;
	position: relative;
}
/*************Destination 2 Section*************/
#destination2 {
	padding: 100px 0;
	background-color: #f5f5f5;
}
#destination2 .mapimg2 {
	width: 100%;
	height: 100px;
	background-image: url(../images/destination2/hawaii.png);
	background-size: 100px Auto;
	background-position: center;
	background-repeat: no-repeat;
	clear: both;
}
#destination2 .dotdivider {
	border-top: 2px #9E9791;
	border-style: dotted none none none;
	color: none;
	background-color: none;
	height: 1px;
	width: 100%;
	margin: 20px 0;
}
#destination2 h4 {
	color: #329AB7;
}
/***Vacation Details Table***/
#destination2 h3 {
	font-size: 24px;
	line-height: 1;
	text-transform: uppercase;
	color: #c1effc;
}
#destination2 p span {
	font-size: 18px;
	font-weight: 900;
	color: #fff;
}
#destination2 .price {
	font-family: 'Today', sans-serif;
	font-size: 66px;
	color: #fff;
	margin-top: 15px;
}
#destination2 .small {
	font-size: 10px;
	color: #fff;
}
#destination2 .freenight {
	position: absolute;
	top: 10%;
	left: 80%;
	z-index: 999;
}
#destination2 .bkgrd {
	padding: 10px;
	background: #329AB7;
	text-align: center;
}
#destination2 .pricedivider {
	border-top: 2px #fff;
	border-style: dotted none none none;
	color: none;
	background-color: none;
	height: 1px;
	width: 95%;
	margin: 20px 0;
}
#destination2 ul {
	list-style-type: square;
	padding: 0 13px;
	margin: 0 13px;
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	color: #fff;
}
#destination2 .bookcta {
	color: #fff;
	font-family: 'Today', sans-serif;
	font-size: 18px;
	line-height: 1;
}
#destination2 .phone {
	font-family: 'Today', sans-serif;
	font-size: 36px;
	font-weight: 900;
	color: #fff;
}
#destination2 .btn {
	border-width: 0;
	margin-top: 20px;
}
#google-map2 {
	height:300px;
	border: 2px solid #329AB7;
	border-top: 0;
}
/***END Vacation Details Table***/

.slide-thumbnail {
	width: 100%;
	border: solid 10px #FFF;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0px 0px 5px #000;
}
.slidecaption {
	font-size: 10px;
	line-height: 12px;
	font-style: italic;
}
.slidecaption span {
	font-style: normal;
}
.media.destination-box .pull-left {
	margin-right: 20px;
}
.destinationfacts {
	padding: 100px 0;
}
.bookcta-rtg {
	color: #272727;
	font-family: 'Today', sans-serif;
	font-size: 18px;
	font-weight: 900;
	line-height: 1;
}


/*************DOP Section*************/
#dop {
	background: #eeeeee;
	padding: 80px 20px;
}
#dop h2 {
	font-size: 44px;
	line-height: 1;
}
#dop a {
	color: #329AB7;
	font-weight: bold;
}

/***********************
********* Footer ******
************************/
#footer {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #2e2e2e;
	background: #fefefe;
	font-size: 10px;
	line-height: 2;
}
#footer ul {
	list-style: none;
	padding: 0;
	margin: 0 -7.5px;
}
#footer ul > li {
	display: inline-block;
	margin: 0 7.5px;
}
#footer .brandbar {
	width: 100%;
	height: 150px;
	background-image: url(../images/footer/brandbar.png);
	background-size: 800px Auto;
	background-position: center;
	background-repeat: no-repeat;
	clear: both;
}
.form-control {
	box-shadow: none;
	-webkit-box-shadow: none;
}
/***********************
********* DOP Page *****
************************/
#dop-pg-header {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #2e2e2e;
	background: #fefefe;
}
#dop-pg-header a {
	color: #fff;
	font-family: 'Today', sans-serif; 
	font-weight: normal;
}
#dop-pg-text {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #2e2e2e;
	font-size: 11px;
	background: #fefefe;
}
#dop-pg-text a {
	color: #329AB7;
	font-weight: bold;
}