html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;	
}
body {
	font-family: "Muli";	
}
h1, h2, h3, h4, h5, h6, .navbar-brand {
	font-family: "Montserrat";	
	font-weight: 400;
}
img {
	max-width: 100%;	
}
h1 { font-size: 28px; line-height: 24px; display: inline; }
h2 { font-size: 18px; line-height: 16px; color: #A9A9A9; display: inline; margin-left: 20px; }
.navbar-default {
	background-color: #000;
	background-color: rgba(0,0,0,0.8);
	border: none;
	color: #FFF;
	/*
	max-width: 1300px;
	margin: 0 auto;
	*/
}
.navbar-default .navbar-brand {
	color: #FFF;	
}
.navbar-default .navbar-text {
	color: #CCC;
}
.navbar {
	border-radius: 0;	
}
.slide {
	background: url("../img/microsites.jpg") no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 100%;	
}
.container {
	max-width: 730px;	
}